<form method="POST" action="/reviews">
	{{> reviews-form}}

	<!-- Ratings -->
	<p>
		<label for="ratings">Ratings</label><br>
		<select>
				<option value="zero">0</option>
				<option value="one" selected>1</option>
				<option value="two">2</option>
				<option value="three">3</option>
				<option value="four">4</option>
				<option value="five">5</option>
		</select>
	</p>

	<!-- Button -->
	<p>
		<button type="submit">Save Review</button>
	</p>
</form>
